In [1]:
%load_ext sql
import sqlite3
%sql sqlite:///CourseDataWarehouse.db

'Connected: @CourseDataWarehouse.db'

In [2]:
%%sql
ATTACH DATABASE 'CourseData.db' AS coursedata;

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [3]:
%%sql
SELECT *
    FROM coursedata.CLASS
    LIMIT 10

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, None, 'C01', 744, 'AC 0011', 'Introduction to Financial Accounting', 'Fall2014', 70384, 0, 31, -31, "['TF 0800am-0915am 09/02-12/08 DSB 105']"),
 (2, None, 'C02', 744, 'AC 0011', 'Introduction to Financial Accounting', 'Fall2014', 70385, 0, 31, -31, "['TF 0930am-1045am 09/02-12/08 DSB 105']"),
 (3, None, 'C03', 744, 'AC 0011', 'Introduction to Financial Accounting', 'Fall2014', 70382, 0, 31, -31, "['TF 1230pm-0145pm 09/02-12/08 DSB 105']"),
 (4, None, 'C04', 871, 'AC 0011', 'Introduction to Financial Accounting', 'Fall2014', 70291, 0, 29, -29, "['MR 1100am-1215pm 09/02-12/08 DSB 111']"),
 (5, None, 'C05', 871, 'AC 0011', 'Introduction to Financial Accounting', 'Fall2014', 70350, 0, 30, -30, "['MR 1230pm-0145pm 09/02-12/08 DSB 111']"),
 (6, None, 'C06', 871, 'AC 0011', 'Introduction to Financial Accounting', 'Fall2014', 70381, 0, 31, -31, "['MR 0330pm-0445pm 09/02-12/08 DSB 110A']"),
 (7, None, 'G', 829, 'AC 0011', 'Introduction to Financial Accounting', 'Fall2014', 70383, 30, 31, -1, "['MR 0930am-1045am 09/02-12/08 DSB 111']"),
 (8, None, 'H', 447, 'AC 0011', 'Introduction to Financial Accounting', 'Fall2014', 70391, 30, 32, -2, "['TF 0930am-1045am 09/02-12/08 DSB 110A']"),
 (9, None, 'I', 447, 'AC 0011', 'Introduction to Financial Accounting', 'Fall2014', 71105, 30, 33, -3, "['TF 1100am-1215pm 09/02-12/08 DSB 110A']"),
 (10, None, 'J', 447, 'AC 0011', 'Introduction to Financial Accounting', 'Fall2014', 71123, 30, 32, -2, "['TF 0200pm-0315pm 09/02-12/08 DSB 105']")]