## **COURSE DATA WAREHOUSE**

In [1]:
%load_ext sql
import sqlite3
%sql sqlite:///CourseDataWarehouse.db

'Connected: @CourseDataWarehouse.db'

In [2]:
%%sql
ATTACH DATABASE 'CourseData.db' AS coursedata;

 * sqlite:///CourseDataWarehouse.db
Done.

[]

# **Data Warehouse Design**

### **1. Create *dimention* tables**

In [3]:
%%sql
-- Instructor table
DROP TABLE IF EXISTS INSTRUCTOR1;
CREATE TABLE INSTRUCTOR1 (
    Instructor_id INTEGER PRIMARY KEY,
    Name TEXT NOT NULL,
    Phone INTEGER,
    Email TEXT
);

-- Program table
DROP TABLE IF EXISTS PROGRAM1;
CREATE TABLE PROGRAM1 (
    Program_id INTEGER PRIMARY KEY,
    Program_code TEXT NOT NULL,
    Program_name TEXT NOT NULL
);

-- Term table
DROP TABLE IF EXISTS TERM1;
CREATE TABLE TERM1 (
    Term_id INTEGER PRIMARY KEY,
    Term TEXT NOT NULL
);

-- Location table
DROP TABLE IF EXISTS LOCATION1;
CREATE TABLE LOCATION1 (
    Location_id INTEGER PRIMARY KEY,
    Location TEXT NOT NULL
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [4]:
%%sql
DELETE FROM INSTRUCTOR1;
INSERT INTO INSTRUCTOR1(Instructor_id, Name, Phone, Email ) 
    SELECT Instructor_id, Name, Phone, Email 
    FROM coursedata.INSTRUCTOR;

 * sqlite:///CourseDataWarehouse.db
0 rows affected.
1095 rows affected.

[]

%%sql
PRAGMA table_info();

In [5]:
%%sql
DELETE FROM PROGRAM1;
INSERT INTO PROGRAM1(Program_id, Program_code, Program_name) 
    SELECT Program_id, Program_code, Program_name 
    FROM coursedata.PROGRAM;

 * sqlite:///CourseDataWarehouse.db
0 rows affected.
83 rows affected.

[]

In [6]:
%%sql
DELETE FROM TERM1;
INSERT INTO TERM1(Term) 
    SELECT DISTINCT Term 
    FROM coursedata.CLASS;

 * sqlite:///CourseDataWarehouse.db
0 rows affected.
19 rows affected.

[]

In [28]:
%%sql
SELECT *
FROM TERM1

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'Fall2014'),
 (2, 'Fall2015'),
 (3, 'Fall2016'),
 (4, 'Fall2017'),
 (5, 'Fall2018'),
 (6, 'Spring2015'),
 (7, 'Spring2016'),
 (8, 'Spring2017'),
 (9, 'Spring2018'),
 (10, 'Spring2019'),
 (11, 'SpringBreak2017'),
 (12, 'Summer2015'),
 (13, 'Summer2016'),
 (14, 'Summer2017'),
 (15, 'Summer2018'),
 (16, 'Winter2015'),
 (17, 'Winter2016'),
 (18, 'Winter2017'),
 (19, 'Winter2018')]

In [ ]:
%%sql
DELETE FROM LOCATION1;
INSERT INTO LOCATION1(Location_id, Location) 
SELECT Location_id, Location
    FROM coursedata.LOCATION;

### **2. Create and modify COURSE table**

In [8]:
%%sql
DROP TABLE IF EXISTS COURSE1;
CREATE TABLE COURSE1 AS SELECT * 
    FROM coursedata.COURSE

 * sqlite:///CourseDataWarehouse.db
Done.
Done.

[]

%%sql
DROP TABLE IF EXISTS COURSE1;
CREATE TABLE COURSE1 AS SELECT * 
    FROM coursedata.COURSE 
    WHERE Catalog_year = 
        (SELECT DISTINCT(Catalog_year) 
             FROM coursedata.COURSE)

In [9]:
%%sql
PRAGMA table_info(COURSE1);

 * sqlite:///CourseDataWarehouse.db
Done.

[(0, 'Course_id', 'INT', 0, None, 0),
 (1, 'Catalog_year', 'TEXT', 0, None, 0),
 (2, 'Program_id', 'INT', 0, None, 0),
 (3, 'CatalogID', 'TEXT', 0, None, 0),
 (4, 'Course_title', 'TEXT', 0, None, 0),
 (5, 'Description', 'TEXT', 0, None, 0),
 (6, 'Credits', 'REAL', 0, None, 0),
 (7, 'Attributes', 'TEXT', 0, None, 0),
 (8, 'Prerequisites', 'TEXT', 0, None, 0),
 (9, 'Corequisites', 'TEXT', 0, None, 0),
 (10, 'Fees', 'TEXT', 0, None, 0)]

In [10]:
%%sql
PRAGMA foreign_keys=off;

--BEGIN TRANSACTION;

ALTER TABLE COURSE1 RENAME TO COURSE1_OLD;

CREATE TABLE COURSE1 (
    Course_id INTEGER PRIMARY KEY,
    CatalogID TEXT NOT NULL,
    Course_title TEXT NOT NULL, 
    Description TEXT,
    Program_id INTEGER,
    Credits REAL,
    Attributes TEXT,
    Prerequisites TEXT,
    Corequisites TEXT);

INSERT INTO COURSE1(Course_id, CatalogID, Course_title, Description, Program_id, Credits, Attributes, Prerequisites, Corequisites)
  SELECT Course_id, CatalogID, Course_title, Description, Program_id, Credits, Attributes, Prerequisites, Corequisites
  FROM COURSE1_OLD;

--COMMIT;

PRAGMA foreign_keys=on;

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.
4440 rows affected.
Done.

[]

In [11]:
%%sql
PRAGMA table_info(COURSE1);

 * sqlite:///CourseDataWarehouse.db
Done.

[(0, 'Course_id', 'INTEGER', 0, None, 1),
 (1, 'CatalogID', 'TEXT', 1, None, 0),
 (2, 'Course_title', 'TEXT', 1, None, 0),
 (3, 'Description', 'TEXT', 0, None, 0),
 (4, 'Program_id', 'INTEGER', 0, None, 0),
 (5, 'Credits', 'REAL', 0, None, 0),
 (6, 'Attributes', 'TEXT', 0, None, 0),
 (7, 'Prerequisites', 'TEXT', 0, None, 0),
 (8, 'Corequisites', 'TEXT', 0, None, 0)]

In [12]:
%%sql
DROP TABLE COURSE1_OLD

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [13]:
%%sql
SELECT * 
FROM COURSE1
WHERE (Course_id = 1766)

 * sqlite:///CourseDataWarehouse.db
Done.

[(1766, 'BB 0139', 'CFP Capstone Course', 'This course will engage the student in critical thinking and decision-making about personal financial management topics in the context of the financial planning process. You will gain the hands-on experience of taking a client from start to finish with their personal financial plan.', 8, '0 Credits', None, 'BB 0130, BB 0132, BB 0134, BB 0136, BB 0138, BB 0140.', None)]

## Creating ***facts*** table CLASS_STATISTICS

In [14]:
%%sql
-- Class table
DROP TABLE IF EXISTS CLASS_STATISTICS;
CREATE TABLE CLASS_STATISTICS (
    ClassStat_id INTEGER PRIMARY KEY,
    Term_id INTEGER,
    Instructor_id INTEGER,
    Program_id INTEGER,
    Course_id INTEGER,
    Location_id INTEGER,
    crn INTEGER,
    Cap INTEGER,
    Act INTEGER,
    Rem INTEGER,
    Meeting_times INTEGER,
    Meeting_hours INTEGER,
    FOREIGN KEY (Term_id) REFERENCES TERM1(Term_id)
    FOREIGN KEY (Instructor_id) REFERENCES INSTRUCTOR1(Instructor_id)
    FOREIGN KEY (Program_id) REFERENCES PROGRAM1(Program_id)
    FOREIGN KEY (Location_id) REFERENCES LOCATION1(Location_id)
    FOREIGN KEY (Course_id) REFERENCES COURSE1(Course_id)
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.

[]

In [31]:
%%sql
DELETE FROM CLASS_STATISTICS;
INSERT INTO CLASS_STATISTICS (Term_id, Instructor_id, Program_id, Course_id, Location_id, crn, Cap, Act, Rem, Meeting_times, Meeting_hours)
    SELECT DISTINCT TERM1.Term_id, coursedata.CLASS.Instructor_id, coursedata.COURSE.Program_id, coursedata.COURSE.Course_id,
            coursedata.MEETING.Location_id,  crn, Cap, Act, Rem,
        
            COUNT(coursedata.MEETING.Class_id) AS Meeting_times, 
           sum(strftime('%s',coursedata.MEETING.End) - strftime('%s',coursedata.MEETING.Start))/3600 AS Meeting_hours
        
    FROM coursedata.CLASS
        LEFT JOIN coursedata.COURSE ON (coursedata.COURSE.CatalogID = coursedata.CLASS.CatalogID)
        LEFT JOIN coursedata.MEETING ON (coursedata.CLASS.Class_id = coursedata.MEETING.Class_id)
        LEFT JOIN TERM1 USING(Term)
        WHERE coursedata.COURSE.Catalog_year <> '2017_2018'
    GROUP BY coursedata.MEETING.Class_id

 * sqlite:///CourseDataWarehouse.db
12773 rows affected.
12773 rows affected.

[]

%%sql
ALTER TABLE CLASS_STATISTICS
ADD COLUMN Term_id;

%%sql
INSERT INTO CLASS_STATISTICS (Term_id)
SELECT Term_id
    FROM TERM1 
    LEFT JOIN TERM1 ON (CLASS_STATISTICS.Term = TERM1.Term)

In [27]:
%%sql
SELECT *
FROM CLASS_STATISTICS
LIMIT 100

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 1, None, 4, 1, None, 71858, 0, 0, 0, 0, None),
 (2, 1, 744, 1, 113, 99, 70384, 0, 31, -31, 26, 32),
 (3, 1, 744, 1, 113, 99, 70385, 0, 31, -31, 26, 32),
 (4, 1, 744, 1, 113, 99, 70382, 0, 31, -31, 26, 32),
 (5, 1, 871, 1, 113, 107, 70291, 0, 29, -29, 26, 32),
 (6, 1, 871, 1, 113, 107, 70350, 0, 30, -30, 26, 32),
 (7, 1, 871, 1, 113, 105, 70381, 0, 31, -31, 26, 32),
 (8, 1, 829, 1, 113, 107, 70383, 30, 31, -1, 26, 32),
 (9, 1, 447, 1, 113, 105, 70391, 30, 32, -2, 26, 32),
 (10, 1, 447, 1, 113, 105, 71105, 30, 33, -3, 26, 32),
 (11, 1, 447, 1, 113, 99, 71123, 30, 32, -2, 26, 32),
 (12, 1, 447, 1, 113, 99, 71208, 30, 34, -4, 26, 32),
 (13, 1, 56, 1, 113, 99, 71763, 30, 31, -1, 26, 32),
 (14, 1, 56, 1, 113, 99, 72615, 30, 31, -1, 26, 32),
 (15, 1, 940, 1, 113, 107, 72616, 30, 26, 4, 26, 32),
 (16, 1, 559, 1, 113, 99, 70387, 30, 31, -1, 26, 32),
 (17, 1, 95, 1, 135, 102, 70292, 30, 17, 13, 26, 32),
 (18, 1, 759, 1, 136, 106, 70070, 28, 28, 0, 26, 32),
 (19, 1, 759, 1, 136, 106, 70071, 28, 28, 0, 26, 32),
 (20, 1, 759, 1, 136, 106, 73161, 17, 16, 1, 26, 32),
 (21, 1, 759, 1, 136, 106, 73162, 24, 22, 2, 26, 32),
 (22, 1, 982, 1, 137, 98, 70601, 10, 12, -2, 13, 32),
 (23, 1, 982, 1, 137, 98, 70360, 10, 1, 9, 13, 32),
 (24, 1, 8, 1, 158, 108, 71437, 24, 27, -3, 26, 32),
 (25, 1, 95, 1, 159, 102, 71439, 10, 15, -5, 13, 32),
 (26, 1, 95, 1, 159, 102, 70797, 10, 6, 4, 13, 32),
 (27, 1, 95, 1, 159, 107, 70307, 28, 27, 1, 26, 32),
 (28, 1, 829, 1, 161, 107, 70283, 25, 28, -3, 26, 32),
 (29, 1, 829, 1, 161, 107, 72064, 25, 23, 2, 26, 32),
 (30, 1, 538, 1, 187, 98, 71120, 10, 16, -6, 13, 32),
 (31, 1, 538, 1, 187, 98, 70940, 10, 7, 3, 13, 32),
 (32, 1, 538, 1, 187, 107, 70072, 28, 29, -1, 13, 32),
 (33, 1, 940, 1, 190, 103, 71107, 15, 8, 7, 13, 32),
 (34, 1, 940, 1, 190, 103, 73069, 5, 1, 4, 13, 32),
 (35, 1, 818, 1, 273, 108, 72335, 25, 17, 8, 10, 45),
 (36, 1, 818, 1, 274, 108, 72336, 20, 25, -5, 11, 48),
 (37, 1, 452, 1, 364, 110, 72337, 13, 16, -3, 16, 48),
 (38, 1, 452, 1, 364, 110, 72338, 13, 15, -2, 16, 48),
 (39, 1, 216, 1, 364, 111, 72339, 13, 15, -2, 15, 45),
 (40, 1, 216, 1, 406, 106, 72340, 12, 12, 0, 17, 51),
 (41, 1, 216, 1, 406, 106, 72341, 12, 13, -1, 17, 51),
 (42, 1, 216, 1, 406, 106, 73141, 12, 12, 0, 17, 51),
 (43, 1, 47, 6, 46, 80, 73082, 25, 12, 13, 26, 32),
 (44, 1, 125, 6, 53, 64, 73214, 15, 5, 10, 15, 37),
 (45, 1, 673, 6, 59, 63, 73253, 15, 3, 12, 14, 35),
 (46, 1, 941, 7, 26, 28, 71173, 30, 30, 0, 26, 32),
 (47, 1, 941, 7, 26, 188, 71174, 30, 28, 2, 26, 32),
 (48, 1, 191, 7, 27, 76, 71990, 5, 2, 3, 26, 32),
 (49, 1, 494, 7, 27, 78, 72963, 5, 4, 1, 26, 32),
 (50, 1, 315, 7, 28, 15, 70525, 28, 24, 4, 13, 32),
 (51, 1, 315, 7, 28, 15, 72242, 2, 1, 1, 13, 32),
 (52, 1, 315, 7, 28, 65, 72964, 30, 27, 3, 13, 32),
 (53, 1, 191, 7, 29, 73, 71762, 30, 30, 0, 26, 32),
 (54, 1, 941, 7, 31, 61, 72965, 25, 15, 10, 26, 32),
 (55, 1, 191, 7, 35, 6, 72967, 30, 16, 14, 26, 32),
 (56, 1, 892, 2, 83, 108, 70655, 30, 27, 3, 13, 32),
 (57, 1, 892, 2, 98, 105, 70374, 29, 28, 1, 26, 32),
 (58, 1, 892, 2, 98, 105, 72243, 1, 1, 0, 26, 32),
 (59, 1, 893, 2, 115, 110, 70458, 30, 13, 17, 26, 32),
 (60, 1, 71, 2, 116, 105, 72892, 30, 30, 0, 13, 32),
 (61, 1, 208, 2, 119, 96, 70193, 27, 22, 5, 13, 32),
 (62, 1, 208, 2, 119, 96, 72244, 3, 1, 2, 13, 32),
 (63, 1, 171, 2, 138, 97, 70001, 27, 25, 2, 26, 32),
 (64, 1, 207, 2, 163, 108, 70003, 30, 28, 2, 26, 32),
 (65, 1, 943, 2, 163, 65, 70581, 30, 30, 0, 13, 32),
 (66, 1, 416, 2, 163, 96, 70592, 30, 29, 1, 13, 32),
 (67, 1, 452, 2, 163, 110, 70076, 28, 31, -3, 26, 32),
 (68, 1, 303, 2, 163, 108, 72891, 30, 31, -1, 26, 32),
 (69, 1, 4, 5, 18, 70, 70670, 18, 8, 10, 26, 45),
 (70, 1, 4, 5, 20, 72, 70794, 14, 9, 5, 26, 45),
 (71, 1, 4, 5, 24, 53, 71866, 5, 1, 4, 13, 13),
 (72, 1, 535, 3, 66, 6, 70255, 25, 26, -1, 39, 32),
 (73, 1, 847, 3, 66, 81, 70257, 25, 25, 0, 26, 32),
 (74, 1, 652, 3, 66, 82, 70932, 25, 26, -1, 39, 32),
 (75, 1, 652, 3, 66, 82, 71446, 0, 19, -19, 39, 32),
 (76, 1, 847, 3, 66, 81, 70258, 25, 26, -1, 26, 32),
 (77, 1, 847, 3, 66, 81, 70259, 22, 20, 2, 13, 32),
 (78, 1, 847, 3, 66, 81, 73084, 3, 2, 1, 13, 32),
 (79, 1, 587, 3, 75, 81, 73138, 25, 17, 8, 26, 32),
 (80, 1, 371, 3, 76, 58, 72981, 22, 20, 2, 13, 32),
 (81, 1, 371, 3, 76, 58, 73083, 3, 3, 0, 13, 32),
 (82, 1, 371, 3, 77, 81, 72982, 25, 25, 0, 26, 32),
 (83, 1, 587, 3, 121, 58, 72984, 25, 19, 6, 26, 32),
 (84, 1, 847, 3, 122, 81, 72985, 25, 24, 1, 13, 32),
 (85, 1, 535, 3, 147, 6, 72986, 12, 10, 2, 26, 32),
 (86, 1, 652, 3, 198, 6, 72095, 15, 8, 7, 26, 32),
 (87, 1, 76, 10, 148, 37, 72386, 24, 22, 2, 26, 32),
 (88, 1, 365, 10, 173, 37, 70347, 24, 25, -1, 26, 32),
 (89, 1, 365, 10, 173, 30, 70545, 24, 25, -1, 26, 32),
 (90, 1, 589, 10, 174, 37, 73158, 24, 20, 4, 26, 32),
 (91, 1, 589, 10, 174, 37, 73159, 24, 21, 3, 26, 32),
 (92, 1, 803, 10, 175, 30, 71075, 24, 24, 0, 26, 32),
 (93, 1, 379, 10, 210, 29, 72948, 24, 24, 0, 26, 32),
 (94, 1, 87, 10, 214, 29, 72893, 24, 24, 0, 26, 32),
 (95, 1, 87, 10, 214, 29, 72894, 24, 24, 0, 26, 32),
 (96, 1, 133, 10, 252, 189, 73098, 10, 10, 0, 26, 32),
 (97, 1, 379, 10, 252, 189, 73099, 10, 10, 0, 26, 32),
 (98, 1, 133, 10, 252, 189, 72230, 0, 56, -56, 26, 32),
 (99, 1, 379, 10, 252, 189, 72655, 0, 49, -49, 26, 32),
 (100, 1, 133, 10, 253, 25, 71542, 20, 18, 2, 13, 36)]

In [23]:
%%sql 
SELECT *
    FROM CLASS
    WHERE (crn = 70384)

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, None, 'C01', 744, 'AC 0011', 'Introduction to Financial Accounting', 'Fall2014', 70384, 0, 31, -31, "['TF 0800am-0915am 09/02-12/08 DSB 105']")]

In [22]:
%%sql 
SELECT *
    FROM CLASS_STATISTICS
    WHERE (crn = 113)

 * sqlite:///CourseDataWarehouse.db
Done.

[]

%%sql
DELETE FROM CLASS_STATISTICS;
INSERT INTO CLASS_STATISTICS (Term, Instructor_id, Program_id, Course_id, Location_id, crn, Cap, Act, Rem, Meeting_times, Meeting_hours)
    SELECT DISTINCT coursedata.CLASS.Term, coursedata.CLASS.Instructor_id, coursedata.COURSE.Program_id, coursedata.COURSE.Course_id,
            coursedata.MEETING.Location_id,  crn, Cap, Act, Rem,
        
            COUNT(coursedata.MEETING.Class_id) AS Meeting_times, 
           sum(strftime('%H:%M',coursedata.MEETING.End) - strftime('%H:%M',coursedata.MEETING.Start))AS Meeting_hours
        
    FROM coursedata.CLASS
        LEFT JOIN coursedata.COURSE ON (coursedata.COURSE.CatalogID = coursedata.CLASS.CatalogID)
        LEFT JOIN coursedata.MEETING ON (coursedata.CLASS.Class_id = coursedata.MEETING.Class_id)
        WHERE coursedata.COURSE.Catalog_year <> '2018_2019'
    GROUP BY coursedata.MEETING.Class_id

%%sql
--DELETE FROM CLASS_STATISTICS;
--INSERT INTO CLASS_STATISTICS (Term_id, Instructor_id, Program_id, Location_id, Course_id, crn, Cap, Act, Rem)
    SELECT DISTINCT coursedata.CLASS.Term, coursedata.CLASS.Instructor_id, coursedata.COURSE.Program_id, coursedata.COURSE.Course_id, coursedata.MEETING.Location_id,  crn, Cap, Act, Rem, COUNT(coursedata.MEETING.Class_id) AS Meeting_times 
    FROM coursedata.CLASS
        LEFT JOIN coursedata.COURSE ON (coursedata.CLASS.Course_id = COURSE.Course_id)
        LEFT JOIN coursedata.MEETING ON (CLASS.Class_id = MEETING.Class_id)
        GROUP BY coursedata.MEETING.Class_id
            LIMIT 500

In [ ]:
%%sql
DELETE FROM CLASS_STATISTICS;
INSERT INTO CLASS_STATISTICS (Term_id, Instructor_id, Program_id, Course_id, Location_id, crn, Cap, Act, Rem, Meeting_times, Meeting_hours)
    SELECT DISTINCT TERM1.Term_id, coursedata.CLASS.Instructor_id, coursedata.COURSE.Program_id, coursedata.COURSE.Course_id,
            coursedata.MEETING.Location_id,  crn, Cap, Act, Rem,
        
            COUNT(coursedata.MEETING.Class_id) AS Meeting_times, 
           sum(strftime('%s',coursedata.MEETING.End) - strftime('%s',coursedata.MEETING.Start))/3600 AS Meeting_hours
        
    FROM coursedata.CLASS
        LEFT JOIN coursedata.COURSE ON (coursedata.COURSE.CatalogID = coursedata.CLASS.CatalogID)
        LEFT JOIN coursedata.MEETING ON (coursedata.CLASS.Class_id = coursedata.MEETING.Class_id)
        LEFT JOIN TERM1 USING(Term)
        WHERE coursedata.COURSE.Catalog_year <> '2018_2019'
    GROUP BY coursedata.MEETING.Class_id